.btnCardapio {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;
}

.cafeDaManhaBtn{
    width: 30vw;
    height: 5.5vh;
    border-radius: 20px;
    background-color: #635F5F;
    color: white;
    font-size: 1.6rem;
    border: none;
    
}

.principalBtn {
    width: 30vw;
    height: 5.5vh;
    border-radius: 20px;
    background-color: #635F5F;
    color: white;
    font-size: 1.6rem;
    border: none;
}

.inputCardapio {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 3rem;
}

.inputsCardapio {
    border: none;
    outline: none;
    color: white;
    background: transparent;
    font-size: 1.8rem;
    text-align: center;
    margin-top: 1rem;
    border-bottom: 1px solid #D65C1C;
}

.cardapio::placeholder {
    color: #949494;
  }

.productsCardapio {
    display: grid;
    grid-template-columns: 150px 150px;
    column-gap: 2rem;
    row-gap: 4rem;
    margin-left: 2rem;
    margin-top: 4rem;
}

.squareProducts {
    width: 50rem;
    height: 10rem;
}

.productsBtn {
    /* width: 20vw;
    height: 12vh; */
    width: 20%;
    height: 120%;
    border-radius: 20px;
    font-size: 1rem;
    text-align: center;
    border: none;
    line-height: 2rem;
    background-color: #635F5F;
    color: white;
    margin-bottom: 1rem;
} 

.pedidos{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    /* width: 22rem;
    height: 50rem; */
    width: 45%;
    height: 46rem;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #635F5F;
    float: right;
    position: relative;
    bottom: 80rem;
    margin-right: 2rem;
}

.resumoPedido{
    padding: 10px;
    color: white;
}

.resumo{
    font-size: 1.5rem;
}

.enviarPedidos {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
  }
  
.enviarPedidosBtn {
    background-color: #D65C1C;
    color: white;
    border-radius: 20px;
    border: none;
    width: 20rem;
    height: 3rem;
    margin-left: 1.5rem;
    margin-bottom: 1rem;

}

.btnTextoEnviarPedidos {
    font-size: 1.5rem;
    text-align: center;
    align-items: center;
}

