.pedidosBtn {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 3rem;
    
}

.btnPedidos {
    background-color: #635F5F;
    color: white;
    border-radius: 20px;
    border: none;
    padding: 0.3rem;
    margin-top: 1.5rem;
    width: 13rem;
    height: 5.5vh;
    font-size: 1.2rem
}

.cardsPedidos {
    background-color: #FF4E4E;
    color: white;
    min-width: 40%;
    max-width: 40%;
    height: fit-content;
    margin-top: 5rem;
    margin-left: 2rem;
    border-radius: 20px;
}

.card {
    padding: 1rem;
}

.paragrafoStatus {
    font-size: 1.8rem;
    margin-left: 0.6rem;
}

.paragrafoMesa {
    font-size: 1.8rem;
    margin-left: 11rem;
    margin-top: -3.8rem;
}

.descricaoPedidos {
    background-color: #635F5F;
    width: 20rem;
    margin-top: -1.5rem;
    position: absolute;
    z-index: -4;
    margin-left: -7.7rem;
    border-radius: 20px;
}

.detalhesPedidos {
    margin-top: 3rem;
    margin-left: 1rem;
    color: white;
}

.card .info {
    border-bottom: 1px solid #FFFFFF;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
  }

.infoPedidos {
    font-size: 1.2rem;
}

.btnPedidos.ativo {
    background-color: chocolate
}

.funciona {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 4rem;
    margin-bottom: 5rem;
    margin-left: 1rem;
    column-gap: 3rem;
}

.info {
    font-size: 1.2rem;
}

  
.btnPreparar {
    background-color: transparent;
    color: #6CFF03;
    border: none;
    width: 18rem;
    height: 3rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    border-top: 1px solid #FFFFFF;
    padding-top: 0.5rem;
    margin-top: 0.5rem;
    display: flex;
    align-items: flex-end;
    position: relative;
    justify-content: center;
}

.btnAtendentePedidos {
    background-color: #6CFF03;
}

.pedidosAtendenteBtn {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 3rem;
    
}

.btnAtendentePedidos {
    background-color: #635F5F;
    color: white;
    border-radius: 20px;
    border: none;
    padding: 0.3rem;
    margin-top: 1.5rem;
    width: 13rem;
    height: 5.5vh;
    font-size: 1.2rem
}

.btnAtendentePedidos.ativo {
    background-color: chocolate
}
