 .mySection {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
  }
  
  label {
    align-self: flex-start;
    margin-bottom: 5px;
    color: #FF5800;
    font-size: 30px;
    font-weight: bold;
  }
  
  .inputLogin {
    border-radius: 20px;
    width: 60vw;
    height: 6.5vh;
    font-size: 30px;
    color: #5b5b5b;
    margin-bottom: 1rem;
    position: relative;
    text-align: center;
    border: none;
  }
